/* .homepage {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #0addbf;
  background-size: cover;
  background-repeat: repeat;
}

.homeContainer {
  height: 100%;
  width: 100%;
}

.homeCol {
  background: none;
  width: 100%;
  height: 100%;
}
.homeRow {
  height: 100%;
  width: 100%;
}

.homeCard {
  max-width: 500px;
  height: 500px;
  top: 120px;
  left: 50%;
  transform: translate(-50%, 10%);
  position: relative;
}

.homeCardTitle {
  text-align: center;
}

.homeCardBody {
  text-align: center;
} */

div.homePage {
  z-index: -999;
  background-color: #0addbf;
}

.homeCard {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}

.homeCol {
  margin-top: 100px;
}
.pageHeading {
  color: black;
}
.homeCardBody {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  background-color: #0addbf;
  background-size: cover;
  height: 110%;
}

.uploader-button .uploadcare--widget__button_type_open {
  background-color: #5882e7;
}

.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
  background-color: #ffffff;
  justify-content: center;
}

.MuiButtonBase-root.MuiIconButton-root {
  position: absolute;
  left: 20px;
  top: 10px;
}

.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button:hover {
  color: #0addbf;
}

/* .MuiSvgIcon-root:hover {
  fill: #0addbf;
} */

.uploadcare--widget__button_type_open {
  background-color: #5882e7;
}
#save:hover {
  background-color: #3891ff !important;
}
#save {
  border: none;
  background-color: #5882e7;
  position: absolute;
  right: 0;
  top: 50%;
  animation: bounce 1.25s infinite;
}
.success {
  font-weight: bold;
  color: rgb(73, 196, 68);
}
#widget {
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }

  30% {
    transform: scale(1, 1) translate(0px, 0px);
  }

  75% {
    transform: scale(1, 1) translate(-25px, 0px);
  }

  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}
