.homepage {
  width: 100%;
  height: 110vh;
  background-color: #0addbf;
}

.homeContainer {
  height: 100vh;
  width: 100%;
}

.homeCol {
  background: none;
  width: 100%;
  height: 100vh;
}

.homeCard {
  max-width: 500px;
  height: 77vh;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 10%);
  position: relative;
}

.homeCardTitle {
  text-align: center;
}

.homeCardBody {
  text-align: center;
}

#buttonCancel {
  float: left;
  margin-left: 18%;
  margin-top: 10%;
}
#buttonSubmit {
  float: right;
  margin-right: 18%;
  margin-top: 10%;
}

.signup-input {
  background-color: white !important;
  margin-bottom: 10px;
}

.signupTitle {
  color: #3f3e3e;
}
.signupSubtitle {
  color: #3f3e3e;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: -5%;
}

.emailForm {
  display: block;
}

/* login form begins here */
.App {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

label,
input {
  display: block;
  width: 100%;
}

label {
  margin-bottom: 5px;
  height: 22px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}

input.error {
  border-color: red;
}

.input-feedback {
  color: rgb(235, 54, 54);
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  background-color: #0addbf;
  color: white;
  border: 1px solid #0addbf;
  background-color: 250ms;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: #0addbf;
}
