.userCard {
  width: 450px;
  height: 450px;
  flex-grow: 1;
  margin: 50px;
  position: relative;
}

.userCardTitle {
  text-align: center;
}

.boardsHeader {
  text-align: center;
}

.userCardInnerBody {
  height: 100%;
  width: 100%;
}

.wrapperDiv {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.userInformationCard {
  margin: 0px 50px 50px 50px;
  flex-grow: 2;
}

#userPWidget {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userPicture {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  cursor: pointer;
}

.imgDiv {
  position: absolute;
  top: 10px;
}

.profileButton {
  margin: 0 auto;
}

.createBoardButton {
  margin: 0 auto;
}

.saveInfoButton {
  /* position: absolute; */
  display: block;
  margin: 0 auto;
}

#userSave {
  border: none;
  background-color: #5882e7;
  margin: 0 auto;
}

#userSave:hover {
  background-color: #3891ff !important;
}

.userCreateButton:hover {
  background-color: #3891ff !important;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputName,
.inputEmail,
.inputPassword {
  border: none;
  outline: none;
  cursor: default;
}

.inputName:focus,
.inputEmail:focus,
.inputPassword:focus {
  border: none;
  outline: none;
  cursor: default;
}

.toggle-password {
  position: absolute;
  right: 0;
  z-index: 999;
  bottom: 67px;
  cursor: pointer;
}

.toggle-password-2 {
  position: absolute;
  right: 0;
  z-index: 999;
  bottom: 7px;
  cursor: pointer;
}

.inputPassword {
  position: relative;
}

.toggle-editor {
  position: absolute;
  top: 0;
  right: 0;
  color: #3891ff;
  font-size: 24px;
}

.profileButton {
  margin-bottom: 15px;
}

.createBoardButton {
  margin-bottom: 15px;
}