.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}
body {
  background-color: hotpink;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 1200px;
  height: 300px;
  margin: 240px auto;
}

.container .card {
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: violet;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.container .card .CardImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 15%;
  transition: 0.5s;
  background: cornflowerblue;
  z-index: 1;
}

.container .CardImg:hover CardImg {
  top: 20px;
  right: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
